@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF-Pro';
    src: local('SF-Pro'), url(./fonts/SF-Pro.ttf) format('truetype');
}

:root {
    font-family: 'SF-Pro';
    background: rgb(34, 46, 49);
    background: linear-gradient(160deg, #222e31, #212d32, #222c33, #252a34, #292733, #2b2632);
}
